* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  /* use font shorthand here */
  font: normal 1rem/1.5 'PT Sans Narrow', sans-serif;
  letter-spacing: 1;
  text-align: center;
  -webkit-animation: fadein 2s;
   -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
     -o-animation: fadein 2s;
        animation: fadein 2s;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0 auto;
  width: 30%;
}

ul li {
  padding: .75rem;
  font-size: 1.45rem;
  transition: color .2s ease;
}

ul li:hover {
  color: pink;
  position: relative;
}

ul li:hover:before {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: pink;
  top: -9px;
  left: -5px;
}

hr {
  border-top: 3px double #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/back.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}


.container {
  width: 100%;
  padding: 1rem 1rem;
}

.box {
  font-size: 1.25rem;
}

.logo img {
  width:195px;
  height: 195px;
}

.btn {
  display: inline-block;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2.5rem;
  background-color: rgba(255, 255, 255, .4);
  border: 2px solid #fff;
  color: #fff;
}

footer {
  background-color: pink;
  color: #fff;
}

footer span {
  font-weight: 900;
}

/* Fade In */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 768px) {
  ul {
    width: 20%;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
  }
}
